<center> <h1>Hello! My name is Evan Chang</h1>
  <body>
    <%= image_tag("Pic_of_Me.jpg", size: "450x300", alt: "Edit Entry")%>
  </body>
  <p id="Location">
    I'm from Millbrae, California
  </p>
  <p>I'm a sophomore</p>
  <p id="Fun">
    I'm in an a cappella group! (AiR)
  </p>
  <p id="Ruby">
    I'm most excited to learn how to make cool websites!
  </p>
